@import "../../style/vars";

.container {
  box-sizing: border-box;
  padding: 0 10px;
  color: $primary-color;
}

.title {
  font-size: 32px;
  margin: 10px 0 20px;
  font-weight: bolder;
}


@media (min-width: 768px) {
  .container {
    padding: 0 6.25%;
  }

  .title {
    font-size: 48px;
    margin: 20px 0 35px;
  }

  .cards {
    grid-gap: 10px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .title {
    font-size: 48px;
    margin: 20px 0 35px;
  }

  .cards {
    grid-gap: 10px;
  }

}