.input {
  width: 45%;
}

.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item {

  & + .item {
    margin-left: 15px;
  }
}

.label {
  margin-right: 5px;
  display: inline-block;
}

.button {
  margin-left: 5px;
}

.searchColor {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-weight: bold;

  h2 {
    margin-right: 10px;
  }
}

