.input {
  width: 45%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.x {
  margin: 0 15px;
}

.button {
  margin-bottom: 15px;
}

.btnWrap {
  display: flex;
  justify-content: space-between;
}

.searchColor {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-weight: bold;

  h2 {
    margin-right: 10px;
  }
}

