@import "./src/style/vars";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  color: $primary-inverse-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.name {
  font-weight: bold;
  font-size: 24px;
}

.wrap {
  padding-top: 70px;
}