.button {
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .button {
    transition: .3s ease;
    transition-property: background-color, color, border-color;

    &:hover {
      background-color: #ffffff;
      color: #000;
    }
  }
}